<%= form_with model: @record, local: true do |f| %>
  <div class="record-box">
    <h1 class="page-heading">食事を記録する</h1>
      <div class="field">
        <%= f.label :datetime, '日時  (必須)', class: 'control-label' %><br>
        <%= f.datetime_field :datetime, class: 'form-control' %>
      </div>

      <div class="field">
         <%= f.label :age_id, '年齢  (必須)', class: 'control-label' %>
         <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"select-box"}) %>
      </div>

      <div class="field">
        <%= f.label :food, '食べたもの  (必須)', class: 'control-label' %><br>
        <%= f.text_area :food, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :quantity, 'どのくらい、量  (任意)', class: 'control-label' %><br>
        <%= f.text_area :quantity, class: 'form-control' %>
      </div>

      <div class="field">
         <%= f.label :unit_id, '単位  (任意)', class: 'control-label' %>
         <%= f.collection_select(:unit_id, Unit.all, :id, :name, {}, {class:"select-box"}) %>
      </div>

      <div class="field">
         <%= f.label :state_id, '食べたときの様子  (必須)', class: 'control-label' %>
         <%= f.collection_select(:state_id, State.all, :id, :name, {}, {class:"select-box"}) %>
      </div>

      <div class="field">
        <%= f.label :note, '備考  (任意)', class: 'control-label' %><br>
        <%= f.text_area :note, class: 'form-control' %>
      </div>

        <%= f.submit "記録する" ,class:"btn" %>
  </div>
<% end %>